
{deps, []}.

{relx, [{release, {"backend", "1.0.0"}, [backend]},
        {vm_args_src, "config/vm.args.src"},
        {sys_config_src, "config/sys.config.src"},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
    ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]}
           ]}.
%% vim: ft=erlang
