[{kernel, [{logger,
            [%% Set formatter template to print jason
             {handler,default,logger_std_h,
              #{formatter=>
                    {logger_formatter,
                     #{template=>
                           ["{ \"@timestamp\": \"",time,
                            "\", \"level\": \"",{level_int,[level_int],[level]},
                            "\", \"message\": \"",msg,"\" }\n"]}}}},

             %% Add a primary filter to insert 'level_int' field in metadata
             {filters,log,
              [{level_int,{fun dockerwatch_filter:add_level_int/2,[]}}]},

             %% Set log level 'debug' for module dockerwatch - to get
             %% some log printouts when sending requests
             {module_level,debug,[dockerwatch]}
            ]}
           %% For debugging
           %%,{logger_level,debug}
          ]}
].
